.row
  .col-2(col)
    each project in col0
      a(href!= "/#single/"+ project.get("id"))
        article.project
          img.project-image(src!= project.get("image"), alt!= project.get("title"))
          .project-info
            h2.strong.project-title!= project.get("title")
            p.light.project-desc!= project.get("desc")
  .col-2(col)
    each project in col1
      a(href!= "/#single/"+ project.get("id"))
        article.project
          img.project-image(src!= project.get("image"), alt!= project.get("title"))
          .project-info
            h2.strong.project-title!= project.get("title")
            p.light.project-desc!= project.get("desc")
