#single-background(single="background")
#single-image-container(single="picture")
  img#single-image(src!= project.get("imageLarge"), alt="single")
  #single-image-zoom.h2.strong.mobile-hide(single="zoom") Loading
#single-info
  #single-info-text

    h2.h2.strong.single-title(singleSlideUp=".7")!= project.get("title")
    p.h3.light(singleSlideUp=".8")!= project.get("desc")
